@import "tailwindcss";

@theme {
  --color-surface-dim: #031427;
  --color-surface: #031427;
  --color-surface-container-lowest: #000f21;
  --color-surface-container-low: #0b1c30;
  --color-surface-container: #102034;
  --color-surface-container-high: #1b2b3f;
  --color-surface-container-highest: #26364a;
  --color-surface-bright: #2a3a4f;
  --color-surface-variant: #26364a;
  --color-surface-tint: #bec6e0;
  
  --color-primary: #bec6e0;
  --color-primary-container: #0f172a;
  --color-on-primary: #283044;
  --color-on-primary-container: #798098;

  --color-secondary: #4cd7f6;
  --color-secondary-container: #03b5d3;
  --color-secondary-fixed: #acedff;
  --color-secondary-fixed-dim: #4cd7f6;
  --color-on-secondary: #003640;
  --color-on-secondary-container: #00424e;
  
  --color-tertiary: #4edea3;
  --color-tertiary-container: #001c10;
  --color-tertiary-fixed: #6ffbbe;
  --color-tertiary-fixed-dim: #4edea3;
  --color-on-tertiary: #003824;
  --color-on-tertiary-container: #009365;

  --color-on-surface: #d3e4fe;
  --color-on-surface-variant: #c6c6cd;
  --color-outline: #909097;
  --color-outline-variant: #45464d;
  --color-error: #ffb4ab;
  --color-error-container: #93000a;
  
  --font-headline: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-sans: "Inter", sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-surface-dim);
  color: var(--color-on-surface);
}

.font-headline {
  font-family: var(--font-headline);
}

.font-mono {
  font-family: var(--font-mono);
}

.custom-grid-pattern {
  background-size: 32px 32px;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #031427;
}
::-webkit-scrollbar-thumb {
  background: #1b2b3f;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4cd7f6;
}
